*{
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
    background: #E5E5E5;
    height: 1939px;
  }



body::before{
    content:'';
    background: black;
    width: 100%;
    height: 368px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

}

.page{
    width: 736px;
    margin: auto;
}



header{
    width: 319px;
    height: 160px;
    margin-top: 80px;
    
}



header h1{
font-family: 'Archivo';
font-weight: 700;
font-size: 36px;
line-height: 42px;
color: white;
margin-bottom: 24px;

}

header p {
    color : #42D3FF;
    margin-top: 20px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}


form{
    padding: 64px 64px 0;
    border-radius:8px 8px 8px 8px;
    margin-top: 42px;
    background: #FAFAFC;
    display: flex;
    flex-direction: column;
    gap: 48px;
    height: 1555px;

}
fieldset{
    border: none;

}
.main{
    display: flex;
    flex-direction: column;

}
.container-main{
    display: flex;
    flex-direction: column;
}

.date2{
    width: 100%;
}






fieldset legend{
    color: white;
    font-family: 'Archivo';
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color:  #32264D;;
    padding-bottom: 16px ;
    border-bottom:#E6E6F0 solid 1px;
    width: 100%;
    margin-bottom: 24px;
}
.container-main label{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    }


.container-main  label span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    margin-left: 12px;
    color: #b8b4bb
}


.container-main input,
.container-main textarea,
.container-main select{
    width: 100%;
    margin-top: 8px;
    height: 56px;
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 0 24px;

}




.container-main label span:hover{

   color:  #000000;
}
.container-main textarea{
    height: 168px;
    padding: 0;
    
}

.container-main select{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 0;
    height: 56px;
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    padding: 0 24px;
    appearance: none; 
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");    
    background-repeat: no-repeat;
    background-position: right

}




.container-checkbox label{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    gap: 16px;
}
.container-checkbox input{
    opacity: 0; /* como eu quero que ela possa ser selecionada na acessibilidade, ao invez de colocar display none
    , basta zerar a opacidade, assim ela fica invisível e na parte funcional dela está posicionado o bachground 
    configurado */

}
.container-checkbox label::before{
    width: 24px;
    height: 24px;
    content: '';
    display: block;
    border: 1px #E6E6F0 solid;
    border-radius: 8px;
    box-sizing: border-box;

}
.container-checkbox input:checked + label::before{
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
}
.container-checkbox input:focus + label::before{    
    outline:2px black solid;    
     /* colocar uma '' borda '' por fora da caixa quando ela estiver em foco.
*/
}




    

    
    /* configuração de aparecimento da setinha no select . Dependendo do navegador, é necessario colocar um prefixo:border:
    /* informações em https://caniuse.com/ ( BUSCAR POR : appearance  */



.row-data{
    display: flex;
    gap: 20px;
}

.date{
    width: 312px;
}
.display-flex{
    display: flex;
}
footer{
    width: 736px;
    height: 136px;
    background: #F0F0F4;
    padding:0;
    position: relative;
    right: 64px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 40px ;
   border: 1px solid #D6D6D6;
   border-radius: 0 0px 8px 8px ;


}

    

footer button{
    width: 608px;
    height: 56px;
    background: #04D361;
    border-radius: 8px;
    border: none;
    
}

footer button:hover{
    background:  #08a04c;
}
footer button span{
    font-family: 'Archivo';
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color:   #FFFFFF;
}

footer button span:hover {
    color: #e0e0e0;
}

input:invalid{
    outline: red solid 1px}



